.container{
    display: flex;
    flex-direction: column;
    margin: 70;
}

.container .slogan{
    align-self: center;
    margin-top:150px;
}
.container .btnBatch{
    align-self: center;
    margin-top: 70px;
    padding: 25px;
    border: none;
}
.container .btnBatch .g{
    border: none;
    justify-content: space-between;
    padding: 10px;
    font-size: large;
    margin-right: 70px;
    cursor: pointer;
    border-radius: 25px;
}
.donate{
    align-self: center;
    margin: 40px;
}
.g:hover{
    background-color: rgb(196, 196, 196);
}